@model Connector

@using (Html.BeginForm("CheckInput", "Connector", "Post")){
    <label asp-for="UserName" class="control-label">Please enter your YouTube or Bloons TD6 Username: </label>
    <input type="text" name="UserName" class="form-control" value=""/>
    <p>Enter the host PIN: </p>
    <input type="text" name="HostNumber" class="form-control" value="00000"/>
    <input type="submit" value="SubmitInfo" class="bt btn-primary"/>
}

<!DOCTYPE html>

<html>
<head>
    <title>Viewer</title>
</head>

<body>
<div>
    
</div>
</body>
</html>